#include <winver.h>
#include "pwmglobal.h"
1 VERSIONINFO
FILEVERSION PWMDE_VERSION_MAJOR, PWMDE_VERSION_MINOR, PWMDE_VERSION_BUG, PWMDE_VERSION_OTHER_INT
PRODUCTVERSION PWMDE_VERSION_MAJOR, PWMDE_VERSION_MINOR, PWMDE_VERSION_BUG, PWMDE_VERSION_OTHER_INT
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004b0"
		{
			VALUE "CompanyName", "LeahScape, Inc."
			VALUE "FileDescription", "PasswordMaker Desktop Edition"
			VALUE "FileVersion", PWMDE_VERSION_FI
			VALUE "LegalCopyright", "2007 LeahScape, Inc."
			VALUE "ProductName", "PasswordMaker Desktop Edition"
			VALUE "ProductVersion", PWMDE_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0, 1200
	}
}

101 ICON DISCARDABLE "images/passwordmaker.ico"
